<ul class="nav-list">
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc6KbhtEOI8zKsQmKT_waE1XlYEF1E6t-HzJ7Gc1EBfMvMg_A/viewform">Volunteer</a></li>
	<li><a href="https://memes.sucho.org/">Meme wall</a></li>
	<li><a href="https://gallery.sucho.org/">Gallery</a></li>
	<li><a href="/contributors">Contributors</a></li>
	<li><a href="/blog">Blog</a></li>
	<li><a href="/press">Press Coverage</a></li>
	<li><a href="/contact">Contact us</a></li>
		<li><a href="/phase-one">Phase One</a></li>
</ul>
