<ul class="nav-list">
	<li class="nav-list-item"><a class="nav-list-link" href="/contact">Contact us</a></li>
	<li class="nav-list-item"><a class="nav-list-link" href="/#donate">Donate</a></li>
	<li class="nav-list-item"><a target="_blank" class="nav-list-link" href="https://gallery.sucho.org/">SUCHO Gallery</a></li>
	<li class="nav-list-item"><a target="_blank" class="nav-list-link" href="https://memes.sucho.org/">SUCHO Meme Wall</a></li>
	<li class="nav-list-item"><a class="nav-list-link" href="/partners">Partners</a></li>
	<li class="nav-list-item"><a class="nav-list-link" href="/contributors">Contributors</a></li>
	<li class="nav-list-item"><a class="nav-list-link" href="/press">Press coverage</a></li>
	<li class="nav-list-item"><a class="nav-list-link" href="/blog">Volunteer profiles</a></li>
	<li class="nav-list-item"><a class="nav-list-link" href="/phase-one">Phase 1 (Web-archiving)</a></li>
</ul>
