<ul class="nav-list">
	<li> <strong>Volunteer</strong>
		<ul>
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc6KbhtEOI8zKsQmKT_waE1XlYEF1E6t-HzJ7Gc1EBfMvMg_A/viewform">Sign up to volunteer</a></li>
			<li><a href="/security">Safety First</a></li>
			
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSffa64-l6qXqEumAcf38OEOrTFeYZEmF531PNv9ZgzNFbcgxQ/viewform">Submit a link for archiving</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1Rf0sQ3OB7tirk1xKiaa52lzV9ZTCDkx7eiuK5EXj6l8/edit#gid=336731417">View submitted links</a></li>
        	<li><a href="/archives">View completed archives</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/1zcrfKnuyG2VOGLvhfxPLiwBlUtGbf8ZzObuJyWkZW9k/edit#gid=0">View all completed tasks</a></li>
		</ul>
	</li>
	<li><strong>Resources</strong>
		<ul>
			<li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/workflow">Workflow</a></li>
			<li><a href="/tech">Archiving tools</a></li>
			<li><a href="/data-upload">Where to upload</a></li>
			<li><a href="https://sitecheck.sucuri.net/">Site security checker</a></li>
		</ul>
	</li>
	<li><strong>Related projects</strong>
		<ul>
			<li><a href="/other-efforts">Other archiving efforts</a></li>
		
			<li><a href="/cultural-heritage">Guides to cultural heritage</a></li>
			<li><a href="https://docs.google.com/document/d/1S0qKI9NoIMKVSoJ17R-_d4vkcolvCK4Is1dgGkFjgto/edit">International Task Force for Displaced Scholars</a></li>
		</ul>
	</li>
	<li><a href="/contributors">Contributors</a></li>
	<li><a href="/press">Press Coverage</a></li>
	<li><a href="/contact">Contact us</a></li>
</ul>
