#archives img {
  width: 75px;
}

#archives a {
  background-image: none;
}

#archives td {
  max-width: 200px;
  text-overflow: clip;
  overflow: hidden;
}

.main-content a {
  white-space: normal;
}

.text-justify {
  text-align: justify;
}

ul.logo-list li a {
  text-decoration: none;
  background: none;
}

ul.logo-list li a img {
  height: 75px;
}