---
layout: default
title: Saving Ukrainian Cultural Heritage Online
---

<h1>Saving Ukrainian Cultural Heritage Online</h1>

<img src="/assets/images/sucho-logo.png" width="150px" style="float:right; margin-left: 10px;" title="Saving Ukrainian Cultural Heritage Online">

<p>SUCHO is an initiative of over 1,500 international volunteers who are collaborating online to digitize and preserve Ukrainian cultural heritage. Since the start of the invasion, SUCHO has web-archived more than 5,000 websites and 50TB of data of Ukrainian cultural institutions, to prevent these websites from going offline. The websites range from national archives to local museums, from 3D tours of churches to children’s art centers.</p>

<p>We have <a href="/equipment">donated digitization equipment</a> to over 70 cultural heritage institutions, and are now <a href="https://opencollective.com/sucho/projects/equipment">raising funds for additional kits</a>.</p>

<p>Our <a href="https://gallery.sucho.org/">gallery of Ukrainian cultural heritage</a> curates a selection of images from the web archives we have created, as well as newly-digitized materials.</p>

<p>We are also <a href="https://memes.sucho.org/">archiving memes from the war</a> as a richly-annotated (and transcribed/annotated) data set for current and future historians and other scholars.</p>

<div class="btn"><a href="https://subscribepage.io/sucho">Sign up to receive our newsletter!</a></div>

<h2>Donate</h2>

<p>You can help us pay for our server costs by donating to our <strong><a href="https://opencollective.com/sucho">Open Collective</a></strong>. If you would like to specifically help buy digitization equipment to send to Ukrainian libraries, archives, and museums, you can donate to our <strong><a href="https://opencollective.com/sucho/projects/equipment">digitization equipment fund</a></strong>. For U.S. based sponsors and donors</strong>, please use the <a href="https://www.every.org/open-collective-europe-be/f/saving-ukrainian-cultural">SUCHO US Based Donation page</a>. These donations are tax-deductible.</p>

<article>
  <a href="{{ site.github.url }}/phase-one">
    <div class="featured-post" style="background-image:url(/assets/images/webarchiving.jpg">
      <h2><span>Cultural heritage website archiving</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="{{ site.github.url }}/equipment">
    <div class="featured-post" style="background-image:url(/assets/images/digitizationequipment.jpg">
      <h2><span>Digitization equipment & training</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="https://gallery.sucho.org">
    <div class="featured-post" style="background-image:url(/assets/images/culturalheritagegallery.jpg">
      <h2><span>Ukrainian cultural heritage gallery</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="https://memes.sucho.org">
    <div class="featured-post" style="background-image:url(/assets/images/warmemewall.jpg">
      <h2><span>Wartime meme wall</span></h2>
    </div>
  </a>
</article>

<article>
  <a href="https://www.sucho.org/memorysavers">
    <div class="featured-post" style="background-image:url(/assets/images/postcard.jpg">
      <h2><span>Memory Savers 2023</span></h2>
    </div>
  </a>
</article>
